.description{
    position: relative;
    z-index: 10;
    font-size: 3vw;
    color: white;
    text-transform: uppercase;
    margin-top: 30vw;
    margin-left: 10vw;
    font-family: sans-serif;
}

.description p{
    margin: 0px;
    position: relative;
}